@import "@xyflow/react/dist/style.css" layer(components);

.react-flow {
  --xy-background-color: var(--muted);
  --xy-minimap-background-color: var(--card);
  --xy-minimap-mask-background-color: var(--background);
  --xy-minimap-mask-stroke-color: var(--ring);
  --xy-controls-button-background-color: var(--card);
  --xy-controls-button-background-color-hover: var(--muted);
  --xy-controls-button-color: var(--foreground);
  --xy-controls-button-color-hover: var(--foreground);
  --xy-controls-button-border-color: var(--border);
  --flow-editor-bg: var(--background);
  --flow-editor-fg: var(--foreground);
  --flow-editor-border: var(--input);
  --flow-editor-muted: var(--muted-foreground);
  --flow-editor-selection: color-mix(in oklab, var(--primary) 35%, transparent);
  --flow-editor-selection-match: color-mix(
    in oklab,
    var(--primary) 18%,
    transparent
  );
  --flow-editor-active-line: var(--muted);
  --flow-editor-cursor: var(--primary);
  --flow-editor-controls-height: 50px;
}

.react-flow__minimap {
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  bottom: calc(var(--flow-editor-controls-height) + 0.5rem);
  left: 0;
  overflow: hidden;
  right: unset;
}

.react-flow__controls {
  @apply flex flex-row items-center;
  gap: 0.5rem;
  box-shadow: none;
}

.react-flow__controls-button {
  @apply size-[36px];
  background-color: var(--card);
  color: var(--foreground);
  border-radius: var(--radius-sm);
  border-bottom: 1px solid var(--border);
}

.react-flow__controls-button:hover {
  background-color: var(--muted);
}
